@import '~antd/dist/antd.css';

.App {
  min-height: 100vh;
  background: #1c1c25;
  text-align: center;
  padding: 20px 0 0 0;
}

.App::before{
  content: "";
  position: absolute;
  bottom: -40%;
  left: 40%;
  width: 600px;
  height: 600px;
  background: linear-gradient(#f00, #f0f);
  border-radius: 50%;
}

